<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yelog.soultable.mapper.PoetryMapper" >

    <select id="dataGrid" resultType="org.yelog.soultable.entity.Poetry">
        select
          id, title, dynasty, author, content, type, heat, create_time
        from
          poetry
        <where>
            <if test="so.title != null and so.title != ''">
                title like '%${so.title}%'
            </if>
            <if test="so.content != null and so.content != ''">
                and content like '%${so.content}%'
            </if>
            <if test="so.startTime != null and so.startTime != ''">
                and create_time between STR_TO_DATE(#{so.startTime},'%Y-%m-%d') and STR_TO_DATE(#{so.endTime},'%Y-%m-%d')
            </if>
        </where>
    </select>
</mapper>